/*.timer * { border: 1px dashed rgba(0, 0, 0, 0.5); }*/
.timer
{
    display: flex;
    flex:1;
    /*font-size: 2em;*/
}
.timer-controll-panel
{
    display: flex;
    flex:1;
}
.timer-display
{
    display: flex;
    flex:1;
    font-size: 3em;
}
.timer button
{
    flex:1;
}
.timer .glyphicon-play
{
    color:black;
}
.timer .glyphicon-pause
{
    color:black;
}
.timer .glyphicon-stop
{
    color:darkred;
}